.DS_Store
.RData
.Rbuildignore
.Rhistory
.Rproj.user/
*.rds
*.csv
inst/predictions/*.rds
inst/images/
.Rproj.user
.positai
inst/doc
inst/toy_examples/images_linear/
inst/toy_examples/images_complex/
inst/toy_examples/images_tree/
inst/traumacare_example/images/
inst/traumacare_example/images_sl/
inst/traumacare_example/intermediate/
inst/traumacare_example/cohort_test.csv
inst/traumacare_example/cohort_train.csv
inst/traumacare_example/1-Prepare_data.R