.DS_Store
.RData
.Rbuildignore
.Rhistory
.Rproj.user/
*.rds
*.csv
inst/predictions/*.rds
inst/images/
.Rproj.user
.positai
inst/images/
inst/predictions/
inst/doc
inst/toy_example_simple/images/
inst/toy_example_simple/25.09.simus/
inst/traumacare_example/images/
inst/traumacare_example/intermediate/
inst/traumacare_example/cohort_test.csv
inst/traumacare_example/cohort_train.csv